.metadata/
.recommenders/
_3.fdt
502732891.index
1256467289.index
9930e212a159b0b45c274e211cf59bcf63cfbb
selenium-server-standalone-2.53.0.jar
_3.fdt
_1.fdt
2426646370.index
chapter2b.pdf
Chapter1.pdf
Chapter2a.pdf
fst.o
libfst.so.2.0.5
intersect.o
push.o
libfstscript.so.2.0.5
compose.o
randequivalent.o
disambiguate.o
replace.o
libfstscript.so.2.0.5T
rmepsilon.o
minimize.o
determinize.o
shortest-path.o
epsnormalize.o
algo_test.o
fst_test.o
lt-algo_test
algo_test
parser-all.mco
parser-stacklazy.mco
parser-nivrestandard.mco
parser-default.mco
parser-stackproj.mco
parser-stackeeager.mco
parser-nivreeager.mco
en-universal-train.conll
parser-stackproj.mco
train_double.txt
parser-stackproj.mco
uncorpus.eng.txt
uncorpora.tmx
