.metadata/
.recommenders/
_2.fdt
2426646370.index
chapter2b.pdf
Chapter1.pdf
Chapter2a.pdf
fst.o
libfst.so.2.0.5
intersect.o
push.o
libfstscript.so.2.0.5
compose.o
randequivalent.o
disambiguate.o
replace.o
libfstscript.so.2.0.5T
rmepsilon.o
minimize.o
determinize.o
shortest-path.o
epsnormalize.o
algo_test.o
fst_test.o
lt-algo_test
algo_test
uncorpus.eng.txt
uncorpora.tmx
