.metadata/
.recommenders/

./spring2016/SE/workspace/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.fdt
./spring2016/SE/workspace/.metadata/.plugins/org.eclipse.jdt.core/2426646370.index
./spring2016/NLP/Assignments/Assignment_1/uncorpus.eng.txt
./spring2016/NLP/Assignments/Assignment_1/uncorpora.tmx
./spring2016/SE/workspace/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.fdt
./spring2016/SE/workspace/.metadata/.plugins/org.eclipse.jdt.core/2426646370.index
uncorpus.eng.txt
uncorpora.tmx
./spring2016/SE/workspace/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.fdt
./spring2016/SE/workspace/.metadata/.plugins/org.eclipse.jdt.core/2426646370.index
./spring2016/NLP/Assignments/Assignment_1/uncorpus.eng.txt
./spring2016/NLP/Assignments/Assignment_1/uncorpora.tmx
./spring2016/SE/workspace/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.fdt
./spring2016/SE/workspace/.metadata/.plugins/org.eclipse.jdt.core/2426646370.index
./spring2016/NLP/Assignments/Assignment_1/uncorpus.eng.txt
./spring2016/NLP/Assignments/Assignment_1/uncorpora.tmx
./spring2016/SE/workspace/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.fdt
./spring2016/SE/workspace/.metadata/.plugins/org.eclipse.jdt.core/2426646370.index
./spring2016/NLP/Assignments/Assignment_1/uncorpus.eng.txt
./spring2016/NLP/Assignments/Assignment_1/uncorpora.tmx
./spring2016/SE/workspace/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.fdt
./spring2016/SE/workspace/.metadata/.plugins/org.eclipse.jdt.core/2426646370.index
./spring2016/Networks/Readings/chapter2b.pdf
./spring2016/Networks/Readings/Chapter2a.pdf
./spring2016/Networks/Chapter1.pdf
./spring2016/NLP/Assignments/Assignment_1/uncorpus.eng.txt
./spring2016/NLP/Assignments/Assignment_1/uncorpora.tmx
